.logo {
    cursor: pointer;
}
.schedule {
    font-size: 0.75rem;
}
.search {
    height: 5vh;
    border-radius: 0.5rem;
}
.region {
    cursor: pointer;
    padding-left: 3rem;
}
.regionInput{
    width: 12rem;
}