.prod-details-container {
    margin: 4rem 0 2rem 0;
}
.prod-details-image {
    max-height: 25rem;
    height: 25rem;
    width: auto;
}
.toBasketBtn {
    margin: 3rem 0 3rem 0;
}
.quantity {
    width: 3rem !important;
    flex: 0 !important;
    text-align: center;
}