.prod-summary-image {
    max-height: 10rem;
    width: auto;
    cursor: pointer;
}
.prod-name {
    cursor: pointer;
    margin: .4rem 0 0 0;
}
.prod-cost {
    margin: .75rem 0 .75rem 0;
    font-weight: bold;
    font-size: 1.5rem;
}

.prod-summary-container {
    margin-bottom: 1rem;
}