<div class="p-d-flex footer">
    <div class="p-col-2"></div>
    <div class="p-col p-d-flex p-jc-center">
        <span class="menu" (click)="navigateTo('aboutus')">About Us</span>
    </div>
    <div class="p-col p-d-flex p-jc-center">
        <span class="menu" (click)="navigateTo('tnc')">Terms and Conditions</span>
    </div>
    <div class="p-col p-d-flex p-jc-center">
        <span class="menu" (click)="navigateTo('privacy')">Privacy Policy</span>
    </div>
    <div class="p-col p-d-flex p-jc-center">
        <span class="menu" (click)="navigateTo('contact')">Contact</span>
    </div>
    <div class="p-col-2"></div>
</div>