<div class="p-grid">
    <div class="p-col-2"></div>
    <div class="p-col">
        <p-card class="content">
            <div class="content">
                <h2>About Us</h2>

                <p>
                    FreshontheGo Grocery, part of SV Home Products,
                    is an online retailer providing a wide range of quality Indian groceries to its consumers.
                    It has speciality items named SV Homemade products that offer Rice, Edible Oil, millets, spices,
                    masala powders, beverages and various other grocery items that are 100% Preservative and Chemical
                    free.
                </p>

                <p>
                    FreshontheGo introduced its consumers to the concept of online delivery at doorstep/lobby.
                    It is Toronto's first scheduled grocery delivery chain and serves its customers since 2014.
                    Today, FreshontheGo caters over 18 regions across GTA.
                </p>

                <p>
                    Over the years, FreshOntheGo has established itself as an Online-retailer
                    that is committed to providing the best hassle free grocery shopping experience.
                    With its impressive range of premium assortment at affordable prices,
                    FreshontheGo delivers authentic Indian grocery.
                    FreshontheGO brand positioning – makes organic food affordable – embodies its philosophy of
                    delighting
                    shoppers with the best preservative and chemical free products empowering shoppers to make
                    healthy and hassle-free choices.
                </p>

                <p>
                    Save more with FreshOntheGrocery!
                    We provide you with the lowest prices on all your grocery needs at your doorstep/lobby.
                    Shop and get delivered your products across categories like Indian grocery, Health products,
                    South Indian food and Pooja items.
                </p>

                <p>
                    We take pride in displaying our food test certificate issued by spice board of India accredited by
                    the
                    Govt of
                    India.
                </p>
            </div>
        </p-card>
    </div>

    <div class="p-col-2"></div>
</div>