<div class="header">
    <app-header></app-header>
</div>
<div class="main-container">
    <app-categories></app-categories>
    <router-outlet></router-outlet>
</div>
<app-footer></app-footer>

<p-card *ngIf="fabBasket" id="basket" class="basket p-shadow-20 p-d-flex" (click)="showBasket()">
    <div class="p-d-flex p-jc-center" style="font-size: 0.75rem">0</div>
    <i class="p-d-flex p-jc-center fa fa-shopping-basket" style="font-size: 2.25rem" aria-hidden="true"
        [@addToBasket]="animateBasket"></i>
    <div class="p-d-flex p-jc-center" style="font-size: 0.75rem;">$0.00</div>
</p-card>

<p-dialog header="Basket" [(visible)]="basketVisible" position="right" [draggable]="false" [resizable]="false">
    <p-scrollPanel [style]="{width: '40vw', height: '30vh'}">
        <div class="p-grid p-ai-center" *ngFor="let i of basketProducts">
            <div class="p-col-2">
                Image
            </div>
            <div class="p-col-5">
                SV Homemade sugar, jaggery and many more items that you can think of
            </div>
            <div class="p-col-3">
                <div class="p-inputgroup" id="basketQuantity">
                    <span class="p-inputgroup-addon remove">X</span>
                    <p-inputNumber mode="decimal" [showButtons]="true" [min]="0" [max]="10">
                    </p-inputNumber>
                </div>
            </div>
            <div class="p-col-2">
                100.00
            </div>
        </div>
    </p-scrollPanel>
    <div class="p-grid">
        <div class="p-col-6"></div>
        <div class="p-col-3">Total</div>
        <div class="p-col-3">100.00</div>
    </div>
    <div class="p-d-flex p-flex-row-reverse" id="primary">
        <button pButton pRipple type="button" class="p-button-rounded" (click)="toBasket()">To Billing</button>
    </div>
</p-dialog>