<div class="p-grid">
    <div class="p-col-2"></div>
    <div class="p-col">
        <p-card class="content">
            <div class="content">
                <h2>Privacy Policy</h2>

                <h4>Confidentiality</h4>
                <p>
                    We process your details according to our privacy policy provided below.
                    By using our website and service, you must provide all your information very accurate.
                </p>

                <h4>About Our Website and Service</h4>
                <p>
                    We possess and work, related to our contract workers, the Website and related Services.
                    To become familiar with our Website, Service and complete offering, Kindly visit
                    http://freshonthegogrocery.ca
                </p>
                <p>
                    We are not a supermarket or grocery shop, we essentially encourage the online deal and delivery of
                    products claimed and sold by local grocery shops.
                    For a list of our affirmed Stores, Kindly visit:http://freshonthegogrocery.ca
                </p>
                <p>
                    All the users of our Service must sign up for an account. You are required to give your full
                    legitimate name, address, a substantial email address, and some other data sensibly mentioned by the
                    Service.
                </p>

                <p>
                    Whether you agreed to accept a free trial, pay for your account usage separately or get access to
                    your account at the endeavour level (for instance via business or organization) you concur that
                    access to your record or records establishes great and significant consideration in return for
                    consenting to these Terms.
                </p>
                <p>
                    After setting up a user account with us, we therefore concede you a worldwide, non-transferable,
                    non-selective permit to get to the Service as per these Terms, however maintain all authority to
                    repudiate said permit and your access to our Website and Service without cause or support.
                </p>
                <p>
                    Extra terms, including yet not constrained to, subscription period, grocery delivery, free trials,
                    cost, account access and payment might be determined on the Website or potentially the Service.
                    Those terms, as altered time to time, are thus consolidated by reference and structure some portion
                    of this agreement.
                    In the event that any terms presented on the Website or Service concerning cost, free trials,
                    membership period and
                    so on are posted in error, we maintain whatever authority is needed to change those terms.
                </p>

                <p>
                    You consent to pay any and all sales taxes, regardless of whether Canadian or foreign,
                    relevant to this agreement or emerging in any capacity from your account and access to and
                    utilization of the
                    Website and Service.
                </p>

                <h4>Account Non-Transferable and account security</h4>
                <p>
                    Access to your record isn't transferrable and is planned for the individual or entity that built up
                    the account.
                </p>
                <p>
                    After setting up an account you will be required to make a password.
                    You are in charge of protecting the password you use to get to the Website and Service and
                    you make a deal to avoid revealing your password to any outsider.
                    You concur you are in charge of any action for your account.
                    You consent to quickly notify us of any unapproved utilization of your record.
                </p>
                <h4>Anti-Spam Policy</h4>
                <p>
                    Extracting and usage of our customer data from public services like WhatsApp, Facebook etc.,
                    without their concern, is against our privacy policy and it is considered as spamming.
                    Any Individual/Business found performing this action will be condemned and action will be taken as
                    necessary
                    by Canadian anti-spam laws
                </p>

                <p>
                    More Information on Canada’s Antispam can be found here:https://crtc.gc.ca/eng/internet/anti.htm
                </p>

                <h4>Payment Conditions</h4>
                <p>
                    Payment Information. All payment techniques must be legitimate, genuine and you should be approved
                    to utilize them.
                    On the off chance that a charge isn't approved or acknowledged, we maintain whatever authority is
                    needed to drop
                    your request without notice and with no further commitment or risk to you.
                    We maintain whatever authority is needed to change the payment strategies that we acknowledge at any
                    time.
                </p>
                <p>
                    Costs for items are liable to change, without notice.
                    The grocery costs recorded on our Website or potentially the Fresh On The Go Inc may contrast
                    from the retail costs charged for such things by the pertinent grocery stores. Our costs might be
                    higher or lower
                    than retail costs. Costs showed on our Website and are cited in Canadian dollars, costs showed do
                    exclude relevant
                    taxes or delivery charges. Things in your shopping cart will dependably mirror the latest cost
                    showed on the
                    thing's item detail page.
                    This cost may vary from the cost appeared for the thing.
                </p>
                <p>
                    For the most part, all buys are conclusive. In the event that you get product that you didn't order,
                    the item is spoiled, or if an item you requested was not available at the grocery shops,
                    we will, at our alternative, either give you a refund or a credit in the sum you paid for such
                    product,
                    gave that you inform us of the issue within 24 hours of accepting the delivery.
                </p>
                <p>
                    You should guarantee that somebody who is above 18years of age is available at your delivery address
                    to get your basic grocery item delivery at your chose delivery time. In the event that nobody is
                    available
                    to get your basic grocery item delivery at the planned time and address, we will endeavour to
                    re-deliver
                    your groceries to you the next scheduled time. In the event that on the redelivering day, nobody is
                    available
                    to get your groceries delivery, you concur that you will relinquish such grocery order
                    and that you won't be qualified for get any substitution grocery item order or any discount or
                    credit.
                </p>
                <h4>Proprietary Rights Notices</h4>
                <p>
                    Our Website and Service consists of open source and public domain content,
                    authorized substance just as exclusive substance possessed by us and outsiders.
                    You are not allowed to duplicate or transfer any content (incorporating however not restricted to
                    content, pictures, recordings and audio) on the Website or Service without express assent of the
                    proprietor.
                </p>
                <p>
                    Every other information of the Website and Service, including however not restricted to the PC code,
                    is the property of
                    Freshonthego and additionally our autonomous suppliers of content ("ICPs") with all rights held.
                </p>
                <h4>Your Content Is Your Content</h4>
                <p>We offer an online discussion, chat work and the capacity to get in touch with us on the Service.
                    We don't review or pre-screen the
                    contents of electronic information transferred or presented on the Service by you or different
                    clients.
                </p>
                <p>
                    Our Acceptable Use Policy, you make a deal to avoid utilizing the Service in any way which may
                    encroach
                    copyright or protected by third party or in any way which is unlawful, hostile,
                    threatening, derogatory, slanderous, porn, vulgar or infringing upon the Terms of this
                    understanding.
                </p>
                <h4>Property and Feedback</h4>
                <p>
                    All the information provided in the Website, Service will remain the exclusive property of Fresh On
                    The Go Inc.
                    furthermore, our licensors, including all
                    Intellectual Property Rights regardless of whether we consolidate any of your Feedback into
                    consequent variants.
                </p>
                <p>
                    The Website, Service and their contents are secured by copyright, trademark and different laws of
                    Canada,
                    the United States and outside nations. With the exception of as explicitly allowed in these Terms,
                    you may not recreate, alter or get ready subordinate works, disperse, sell, exchange, freely show,
                    openly perform, transmit, or generally utilize the Website, Service or their substance.
                    You may not duplicate or alter the code utilized on the Website or Service.
                </p>
                <h4>Connected Sites</h4>
                <p>
                    Regardless of whether associated with sites that might be connected to our site,
                    we are not in charge of their content.
                </p>
                <h4>Acknowledgment Of Risk</h4>
                <p>
                    Every information presented on our website as part of our service is provided "as seems to be"
                    without warranty of any type incorporating all utilized warranties and conditions of business and
                    fitness for a specific reason. Hereby disclaim all warranties of any type, whether explicit,
                    implicit or legal.
                </p>
                <h4>Confinement of Liability</h4>
                <p>
                    You admit, to the entire extent approved by law, in no event will we, our affiliates stores or
                    licensors be
                    liable, howsoever caused, for any direct, indirect, or consequential damages, regardless of
                    allowable theory and
                    whether or not we have been cautioned of such damages and those damages were foreseeable or not.
                </p>
            </div>
        </p-card>
    </div>
    <div class="p-col-2"></div>
</div>