.prod-qp-image {
    max-height: 7rem;
    width: auto;
}
.quantity {
    width: 3rem !important;
    flex: 0 !important;
    text-align: center;
}
.chip {
    padding: 1rem 1rem 1rem 0 !important;
}

p-chip div {
    margin: 1rem;
}