<div class="p-grid">
    <div class="p-col-2"></div>
    <div class="p-col">
        <p-card class="content">
            <div class="content">
                <h2>Terms and Conditions</h2>

                <p>
                    In order for allowing your access to our site and online services, you concur as pursues:
                </p>
                <p>
                    These terms and conditions structure a lawfully official agreement which administer your access to
                    and
                    use of Freshonthego
                </p>
                <p>
                    There are conditions that limit our accountability and set responsibilities on you. You must
                    go-through
                    these terms and policies before utilizing the website and service.
                </p>
                <ol>
                    <li>You are of the age of most;</li>
                    <li>You should read and accept these terms and acknowledge to be bound by them.</li>
                </ol>
                <p>If you do not agree the above two conditions, please close the website and contact us soon</p>
                <p>
                    On the off chance that you are utilizing the website on behalf of,
                    or in the employ of an organization that is corporation, trust, partnership, etc.,
                    you are admitting to these terms for that specific organization that you have the rule to
                    predicament
                    that organization to these conditions. In such a criteria, "you" and "your" will also refer to that
                    organization
                    and yourself separately.
                </p>
                <p>
                    We have the authority to modify or update the terms and conditions at any time.
                    If you do not agree with the updated conditions you must stop and the access of the website and
                    cancel
                    the account.
                </p>

                <h2>
                    FAQs
                </h2>

                <h4>How are the orders delivered and who delivers?</h4>
                <p>
                    A 3rd party vendor has been contracted to perform your delivery service.
                    In order to ensure that your delivery is successful, your participation is needed. Below are answers
                    to
                    commonly asked questions about Fresh On The Go Grocery deliveries.
                </p>
                <br>
                <h4>When will my order be delivered?</h4>
                <p>
                    In the shopping cart, you will receive an Estimated Delivery Date.Delivery may be preponed or
                    postponed
                    if the weather is poor on the day of delivery, this will be duly notified in our whatsapp group.
                    Our system calculates this estimated date considering the total amount of time to process your order
                    including: packaging, transit time to the delivery provider, and transit time to the delivery
                    address.
                </p>
                <br>
                <h4>What is transit time?</h4>
                <p>The amount of time it takes your order to leave our distribution center and arrive at the local
                    delivery
                    partner.
                    If the delivery address provided is an apartment our delivery team will attempt to contact 5 mins
                    earlier at the
                    telephone number provided in your order. If you opt for delivery at the lobby you can arrive at the
                    lobby to
                    collect the item. Deliveries will be made between the hours of 8am and 11pm on the delivery day we
                    have
                    provided.
                    The delivery team will make every effort to deliver within the time window provided.
                    You can join our whatsapp group to get the delivery updates.
                </p>
                <h4>What happens if the delivery team is not able to reach you at the telephone number provided at the
                    time
                    of order?</h4>
                <p>
                    If the delivery team is not able to contact during delivery, any one of below will happen
                </p>
                <ol>
                    <li>If the residential unit is an apartment,ordered package would be placed at the
                        flat/suite's-doorstep
                        with an additional service charge.</li>
                    <li>If the residential unit is house,ordered package would be placed at the doorstep with no
                        additional
                        cost.</li>
                </ol>
                <br>
                <h2>Cancellation Policy</h2>
                <p>
                    If you a requesting to cancel your order you must contact us before 12 hrs from the estimated
                    delivery date.
                    We will do our best to accommodate your request. Please note once your order has begun to process in
                    our
                    Distribution Centers we are unable to cancel until it has reached the local delivery provider.
                    You will receive a full refund for the value of the products (including applicable tax).
                </p>
            </div>
        </p-card>
    </div>

    <div class="p-col-2"></div>
</div>